body{
  background-color: black;
  color: #30a3baff  ;
  font-family: sans-serif;
  font-weight: lighter;
}

h1{
  text-align: center;
  font-weight: 500;
}

img{
  width: 20%;
  float: right;
  margin-right: 50px;
  margin-top: 30px;
}

.introduction{
  font-weight: bold;
  margin-left: 20px;
  margin-top: 50px;
}

ul{
  list-style: none;
  line-height: 30px;
}
a{
  color: white;
}
a:hover{
  color: red;
}
